spring:
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/FREEPDB1 #오라클 DB를 접속할 URL을 지정한다.
    driver-class-name: oracle.jdbc.OracleDriver #오라클 JDBC 드라이버 클래스를 지정한다.
    username: eun22 #DB 접속 계정 이름을 지정한다.
    password: 1234 #DB 접속 비밀번호를 지정한다.
  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    properties:
      hibernate:
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  sql:
    init:
      mode: never

  mail:
    host: smtp.gmail.com
    port: 587
    username: kmins0927@gmail.com
    password: unqvoyywvecczzmf   # ← 공백 제거!
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
