.mv-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.mv-modal {
    background-color: #fff;
    width: 700px;
    max-width: 95vw;
    max-height: 85vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 25px;
}

.mv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mv-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
